<!-- Bootstrap Form with validation -->
<div class="container form-container" [class]="'bg-one'">
    <h1>SignUp Form : </h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="form-row">
            <!-- First Name -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" formControlName="firstName"
                        id="firstName" aria-describedby="firstNameHelp" >
                    <small *ngIf="hasError('firstName')" [class]="hasError('firstName') ? 'has-error' :''">
                        <div *ngIf="f.firstName.errors">
                            <span *ngIf="f.firstName.errors.required">First Name is a required field</span>
                            <span *ngIf="f.firstName.errors.minlength">First Name is a min 3 char long field</span>
                            <span *ngIf="f.firstName.errors.maxlength">First Name is a max 15 char long field</span>
                        </div>
                    </small>
                </div>
            </div>
            <!-- Last Name -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" formControlName="lastName"
                        id="lastName" aria-describedby="lastNameHelp" >
                    <small *ngIf="hasError('lastName')" [class]="hasError('lastName') ? 'has-error' :''">
                        <div *ngIf="f.lastName.errors">
                            <span *ngIf="f.lastName.errors.required">Last Name is a required field</span>
                            <span *ngIf="f.lastName.errors.minlength">Last Name is a min 3 char long field</span>
                            <span *ngIf="f.lastName.errors.maxlength">Last Name is a max 15 char long field</span>
                        </div>
                    </small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <!-- Email -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" formControlName="email"
                        id="email" aria-describedby="emailHelp" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
                        <small *ngIf="hasError('email')" [class]="hasError('email') ? 'has-error' :''"   >
                            <div *ngIf="f.email.errors">
                                <span *ngIf="f.email.errors.required">Email is a required field</span>
                                <span *ngIf="f.email.errors.pattern">Email is a not a valid email</span>
                            </div>
                          </small>
                </div>
            </div>
            <!-- Password -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" formControlName="password" id="password" aria-describedby="passwordHelp" minlength="6"
                        maxlength="15" >
                        <small *ngIf="hasError('password')" [class]="hasError('password') ? 'has-error' :''">
                            <div *ngIf="f.password.errors">
                                <span *ngIf="f.password.errors.required">Password is a required field</span>
                                <span *ngIf="f.password.errors.minlength">Password is a min 6 char long field</span>
                                <span *ngIf="f.password.errors.maxlength">Password is a max 16 char long field</span>
                            </div>
                          </small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputState">State</label>
                <select id="inputState" name="state" class="form-control" formControlName="state"
                    >
                    <option value="NY">New York</option>
                    <option value="TX">Texas</option>
                    <option value="CA">California</option>
                    <option value="HW">Hawaii</option>
                </select>
                <small *ngIf="hasError('state')" [class]="hasError('state') ? 'has-error' :''"   >
                    <div *ngIf="f.state.errors">
                        <span *ngIf="f.state.errors.required">State is a required field</span>
                    </div>
                  </small>
            </div>
            <div class="form-group col-sm-6">
                <label for="inputZip">Zip</label>
                <input type="number" class="form-control" id="zipcode" formControlName="zipcode"
                     >
                    <small *ngIf="hasError('zipcode')" [class]="hasError('zipcode') ? 'has-error' :''"   >
                        <div *ngIf="f.zipcode.errors">
                            <span *ngIf="f.zipcode.errors.required">zipcode is a required field</span>
                        </div>
                      </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-6">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="agree"
                        name="agree" id="agree" >
                    <label class="form-check-label" for="aggree">
                        Please check the terms and conditions!
                    </label>
                    <small *ngIf="hasError('agree')" [class]="hasError('agree') ? 'has-error' :''"   >
                        <div *ngIf="f.agree.errors">
                            <span *ngIf="f.agree.errors.required">agree is a required field</span>
                        </div>
                      </small>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block" >Submit</button>
    </form>
</div>