<!-- <app-one-way></app-one-way> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-form></app-reactive-form> -->

<div class="card" style="width: 18rem;">
    <img src="../../assets/img/smiley.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.id}} - {{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="#" class="btn btn-primary">Go {{product.price}}</a>
    </div>
  </div>